@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(13, 13, 13);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
button,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
input,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
nav,
ol,
optgroup,
output,
p,
pre,
progress,
q,
ruby,
s,
samp,
section,
select,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
u,
ul,
var,
video {
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

.slick-next,
.slick-prev {
  z-index: 10;
  font-size: 22px;
}

.slick-next::before,
.slick-prev::before {
  font-size: 26px !important;
  background-color: rgba(0, 0, 0, 0.2) !important;
  padding: 10px;
  border-radius: 4px;
}

.slick-next{
  right: 40px !important;
}

.slick-prev {
  left: 40px !important;
}

.slider {
  --width: 338px;
  --height: 338px;
  --quantity: 10;
  box-sizing: content-box;
  width: 100%;
  height: var(--height);
  min-height: var(--height);
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 50% 50%,
    transparent
  );
}

.slider .list {
  display: flex;
  width: 100%;
  min-height: var(--height);
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .list .item {
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;
  position: absolute;
  left: 100%;
  animation: autoRun 60s linear infinite;
  animation-delay: calc( (60s / var(--quantity)) * (var(--position) - 1));
}

.slider .list .item img {
  width: 100%;
  height: 208px;
}

.newsletter_form {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes autoRun {
  from {
    left: 100%;
  } to {
    left: calc(var(--width) * -1);
  }
}

@import "tailwindcss";

@theme {
  --font-Sora: "Sora", serif;
  --font-IBM: "IBM Plex Serif", serif;
  --font-Inter: "Inter", serif;

  --card-size: calc(20% - 16px);

  --breakpoint-3xl: 120rem;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

@layer components {
  .grid-item {
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-style: solid;
    place-content: center flex-start;
    align-items: center;
    border-radius: 4px;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;
    padding: 24px 20px;
  }

  .payment-type-card {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 4px;
    border-radius: 4px;
    background-color: white;
  }
  
  .item1 {
    aspect-ratio: 0.897959 / 1;
    background: linear-gradient(222deg, rgb(28,28,28) 0%, rgba(19, 19, 20, 0.3) 100%);
  }

  .item2 {
    align-self: stretch;
    background: radial-gradient(50% 50% at 50% 50%, rgb(28,28,28) 0%, rgba(19, 19, 20, 0.3) 100%);
  }

  .item3 {
    background: linear-gradient(238deg, rgb(28,28,28) 0%, rgba(19, 19, 20, 0.3) 100%);
  }

  .item4 {
    background: linear-gradient(41deg, rgb(28,28,28) 0%, rgba(19, 19, 20, 0.3) 100%);
  }

  .item5 {
    background: linear-gradient(349deg, rgb(28,28,28) 0%, rgba(19, 19, 20, 0.3) 100%);
  }
}
